$pink: #FF5851;
$thick: 'Secular One', sans-serif;

/****** Header *****/
p {
    @media (max-width: 767.98px) {
        font-size: 17px;
    }
}


body {
    overflow-x: hidden;
    border: 50px solid white;
    border-top: none;
    font-family: 'Quicksand', sans-serif;
    @media (max-width: 767.98px) {
        border: none;
    }
}

.homepage {
    background-color: #F8F8F8;
}

h1, h2 {
    font-family: 'Secular One', sans-serif;
}


.header {
    height: 85vh;
    background-color: #F8F8F8;
    position: relative;
    display: flex;
    @media (max-width: 575.98px) {
        height: 90vh;
    }
}

.web-background {
    background-image: url('../images/web_background.png');
    background-size: cover;
}

.title-box {
    position: absolute;
    display: flex;
    height: 85vh;
    justify-content: center;
}

.title {
    position: absolute;
    font-size: 120px;
    font-family: 'Secular One', sans-serif;
    z-index: 1;
    line-height: 120px;
    margin-top: 4%;
    @media (max-width: 575.98px) {
        font-size: 90px;
    }
}

.title-caption {
    position: absolute;
    z-index: 1;
    margin-left: 5%;
}

.intro-box {
    display: flex;
    align-items: flex-end;
}

.intro {
    font-size: 25px;
    max-width: 400px;
    @media (max-width: 767.98px) {
        font-size: 17px;
    }
    @media (max-width: 575.98px) {
        font-size: 15px;
    }
}

/***** About Me *****/
.about-container {
    margin-top: 5%;
    padding-bottom: 5%;
}



.about-text {
    font-size: 115px;
    line-height: 90px;
    @media (max-width: 767.98px) {
        font-size: 80px;
    }
}

.about-period {
    color: $pink;
}

.venn {
    height: 500px;
    width: 500px;
    @media (max-width: 767.98px) {
        height: 200px;
        width: 200px;
    }
}

.squiggle {
    margin-left: 25px;
}

/***** Skills ******/
.skills-text {
    width: 400px;
    line-height: 30px;
    @media (max-width: 767.98px) {
        width: 300px;
    }
}

.bold {
    font-family: 'Secular One', sans-serif;
}

.skills-container {
    padding-bottom: 5%;
    padding-right: 0%;
}

.skills-period {
    color: $pink;
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
}

.skills-list {
    background-color: black;
    width: 100%;
    padding: 5%;
}

.skills-intro {
    width: 425px;
    @media (max-width: 767.98px) {
        width: 300px;
        margin-left: 0;
    }
}

li {
    list-style-type:none;
    color: white;
}

/*** Work ****/
.work-text {
    font-size: 115px;
    width: 100px;
    line-height: 90px;
    @media (max-width: 767.98px) {
        font-size: 80px;
    }
}

.selection {
    display: flex;
    align-items: flex-end;
}

.selection-text {
    width: 350px;
    line-height: 30px;
    @media (max-width: 767.98px) {
        width: 300px;
    }
}

.black-period {
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
}

/***** Medpius ****/
.period {
    font-size: 35px;
}

.medpius {
    height: 360px;
    padding-bottom: 30px;
    background-color: #F5D33E;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    p {
        color: #F8F8F8;
        opacity: 80%;
    }
    .name {
        color: white;
        font-family: 'Secular One', sans-serif;
        margin-bottom: 0;
    }
    .info {
        color: #1E7FC6;
        font-family: 'Secular One', sans-serif;
        width: 400px;
    }
    @media (max-width: 767.98px) {
        .info {
            width: 300px;
        }
    }
}

/***** CSSA ****/
.cssa {
    height: 360px;
    padding-bottom: 30px;
    background-color: #263477;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    p {
        color: #F8F8F8;
        opacity: 80%;
    }
    .name {
        color: white;
        font-family: 'Secular One', sans-serif;
        margin-bottom: 0;
    }
    .info {
        color: #F5D33E;
        font-family: 'Secular One', sans-serif;
        width: 400px;
    }
    @media (max-width: 767.98px) {
        .info {
            width: 300px;
        }
    }
}

/***** Jamming ****/
.project-container {
    padding-bottom: 5%;
}
.jamming {
    height: 360px;
    padding-bottom: 30px;
    background-color: #D34141;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    p {
        color: #F8F8F8;
        opacity: 80%;
    }
    .name {
        color: white;
        font-family: 'Secular One', sans-serif;
        margin-bottom: 0;
    }
    .info {
        color: #C8D0F8;
        font-family: $thick;
        width: 400px;
    }
    @media (max-width: 767.98px) {
        .info {
            width: 300px;
        }
    }
}

/***** Ravenous ****/
.ravenous {
    height: 360px;
    padding-bottom: 30px;
    background-color: #1E7FC6;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    p {
        color: #F8F8F8;
        opacity: 80%;
    }
    .name {
        color: white;
        font-family: $thick;
        margin-bottom: 0;
    }
    .info {
        color: #FBA8A3;
        font-family: $thick;
        width: 400px;
    }
    @media (max-width: 767.98px) {
        .info {
            width: 300px;
        }
    }
}

/**** Footer ****/
footer {
    padding-bottom: 2%;
    h5 {
        font-family: $thick;
    }
    a {
        font-family: $thick;
        color: black;
        &:hover {
            color: $pink;
            text-decoration: none;
        }
    }
    .box {
        border-right: 1px lightgray solid;
        @media (max-width: 575.98px) {
            border-right: none;
        }
    }
    
}

.pink {
    color: $pink;
}

.back {
    font-size: 14px;
}
