body {
    border: 50px solid white;
    background-color: #F8F8F8;
    border-top: none;
    font-family: 'Quicksand', sans-serif;
    @media (max-width: 767.98px) {
        border: none;
    }
}


.header {
    height: 85vh;
    background-color: #F8F8F8;
    position: relative;
    display: flex;
    @media (max-width: 575.98px) {
        height: 90vh;
    }
}

.web-background {
    background-image: url('../images/web_background.png');
    background-size: cover;
}

.title-box {
    position: absolute;
    display: flex;
    height: 85vh;
    justify-content: center;
}

.title {
    position: absolute;
    font-size: 120px;
    font-family: 'Secular One', sans-serif;
    z-index: 1;
    line-height: 120px;
    margin-top: 4%;
    @media (max-width: 575.98px) {
        font-size: 90px;
    }
}

.title-caption {
    position: absolute;
    z-index: 1;
    margin-left: 5%;
}

.intro-box {
    display: flex;
    align-items: flex-end;
}

.intro {
    font-size: 22px;
    max-width: 400px;
    @media (max-width: 575.98px) {
        font-size: 17px;
    }
}