$thick: 'Secular One', sans-serif;
$dark: #172A45;
$code: #64FFDA;
$white: #CBD5F5;
$box: #1D3152;

/****** Header *****/
.homepage {
    background-color: $dark;
}

.header {
    height: 85vh;
    background-color: $dark;
    position: relative;
    display: flex;
    @media (max-width: 575.98px) {
        height: 90vh;
    }
}

.web-background {
    background-image: url('../images/dark_background.png');
    background-size: cover;
}

.title-box {
    position: absolute;
    display: flex;
    height: 85vh;
    justify-content: center;
}

.title {
    position: absolute;
    color: $white;
    font-size: 6rem;
    font-family: 'Secular One', sans-serif;
    z-index: 1;
    line-height: 120px;
    margin-top: 4%;
    @media (max-width: 575.98px) {
        font-size: 5rem;
    }
}

.title-caption {
    position: absolute;
    z-index: 1;
    margin-left: 5%;
    color: $code;
}

.intro-box {
    display: flex;
    color: $white;
    align-items: flex-end;
}

.intro {
    font-size: 1rem;
    max-width: 500px;
    @media (max-width: 575.98px) {
        font-size: .88rem;
        text-align: left;
    }
}

/***** About Me *****/
.about {
    margin-top: 15%;
}


.about-text {
    margin-left: 15%;
    padding-top: 80px;
    @media (max-width: 767.98px) {
        padding-top: 0;
        max-width: 100%;
        margin-left: 0%;
        margin-top: 10%;
        text-align: center;
    }
}

.skills {
    height: 700px;
    width: 750px;
    @media (max-width: 767.98px) {
        height: 500px;
        width: 550px;
    }
}

/**** Experience *****/
.experience {
    margin-top: 15%;
}

/*** Projects ****/
.projects {
    margin: 15% 0;
    /*.outline {
        border: 1px solid $code;
        position: absolute;
        width: 100%;
        height: 80%;
        top: 25%;
    }*/
    .box {
        padding: 10%;
        position: relative;
        
        padding-bottom: 2%;
        background-color: $box;
        margin-top: 8%;
        text-align: left;
        color: $white;
        .info {
            color: #ABB3CE;
        }
        .tech {
            color: #ABB3CE;
            padding-top: 20%;
            font-size: .8rem;
            word-spacing: 25px;
            opacity: 90%;
        }
    }
}

/**** Footer ****/
footer {
    padding-bottom: 2%;
    a {
        font-family: $thick;
        color: #ABB3CE;
        &:hover {
            text-decoration: none;
        }
    }
    .box {
        background-color: $box;
        text-align: left;
        padding: 5%;
        margin-bottom: 5%;
    }
    
}

.back {
    font-size: .9rem;
    @media (max-width: 767.98px) {
        text-align: center;
    }
}