@import './homepage';
@import './navigation.scss';
@import './moneywise.scss';
@import './footer.scss';

@import url('https://fonts.googleapis.com/css?family=Quicksand|Secular+One&display=swap|Roboto+Mono&display=swap');

$white: #FFFF;
$code: #64FFDA;

html, body {
    font-family: 'Quicksand-Regular', sans-serif;
    scroll-behavior: smooth;
    font-size: 17px;
    padding: 0;
    color: $white;
}

p, a, li {
    font-family: 'Quicksand', sans-serif;
    line-height: 35px;
    color: $white;
    @media (max-width: 767.98px) {
        font-size: .88rem;
        line-height: 25px;
    }
}

h1, h2, h3 {
    font-family: 'Secular One', sans-serif;
    color: $white;
}

.code {
    font-family: 'Roboto Mono', monospace;
    color: $code;
}

.code-color {
    color: $code;
}

.line {
    margin-left: 5px;
    @media (max-width: 767.98px) {
        display: none;
    }
}

