@import './homepage';
@import './navigation.scss';
@import './project.scss';

@import url('https://fonts.googleapis.com/css?family=Quicksand|Secular+One&display=swap');

html, body {
    font-family: 'Quicksand-Regular', sans-serif;
    scroll-behavior: smooth;
    font-size: 20px;
    padding: 0;
}

p, a, h3, span {
    font-family: 'Quicksand', sans-serif;
}

