$white: #CBD5F5;
$dark: #172A45;
$code: #64FFDA;
$orange: #ff8064;
$thick: 'Secular One', sans-serif;

a.navbar-brand, a.active {
    color: $white;
    &:hover {
        color: $orange;
    }
}

a.active {
    margin-right: 50px;
    margin-top: 15px;
    padding-top: 35px;
    &:hover {
        text-decoration: none;
        color: $orange;
    }
}

button.contact-btn {
    background-color: $dark;
    padding: 5px 25px;
    display: inline-block;
    border: 1px solid $code; 
    border-radius: 5px;
    &:hover {
        background-color: none;
        border: 1px solid $orange;
    }
    a {
        color: $code;
        &:hover {
            text-decoration: none;
            color: $orange;
        }
        @media (max-width: 767.98px) {
            background-color: white;
            color: black;
            padding: 0;
            border: none;
            border-radius: 0;
        }
    }
    @media (max-width: 767.98px) {
        background-color: white;
        color: black;
        padding: 0;
        border: none;
        border-radius: 0;
    }
}

.navigation {
    background-color: $dark;
}
